<%= form_for @team, remote:true do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name, class: "std-label" %><br>
    <%= f.text_field :name, class: "std-field" %>
  </div>
  <div class="actions">
    <%= f.submit class: "std-btn" %>
  </div>
<% end %>
<select id="friends">

</select>
<button id="button-add">ADD</button>