<div id="box-team-row">
  <div id="box-team-wrapper">
    <h3>Add members to your Team</h3>
    <% get_friendships(current_user).each do |friendship| %>
        <% friend = User.find(friendship.user_id) %>
        <% if !@team.users.include?(friend) %>
            <%= form_for @team, url: {action: "addmember"}, html: {method: "post"} do |f| %>
                <% if @team.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
                      <ul>
                        <% @team.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <%= f.hidden_field :user_id, value: friend.id %>
                <div class="add-member-box">
                  <div class="add-member-name"><%= friend.name %></div>
                  <%= f.submit "Add", class: 'std-btn team-add-member-btn' %>
                </div>
                <div style="clear: both; height: 0"></div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>