<div id="box-team-row">
  <div id="box-team-wrapper">
        <h1>Editing team</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @team %> |
        <%= link_to 'Back', teams_path %>
  </div>
</div>
