<h1>Listing teams</h1>

<table id="teams-table">
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td class="team-table-img">
          <div class="team-small-image"></div>
        </td>
        <td>
          <div class="team-table-title">
            <%= team.name %>
          </div>
        </td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Disband', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path, class: 'std-btn-link' %>
