<p id="notice"><%= notice %></p>
<div id="box-team-row">
  <div id="box-team-wrapper">
    <div id="team-image-wrapper">
      <div id="team-image"></div>
    </div>
    <div id="team-info">
      <div id="team-title">
        <%= @team.name %>
        <% if @team.captain_id == current_user.id %>
         <a id="edit-team-pencil" href="<%= edit_team_path(@team) %>" title="Edit Team" ></a>
        <% end %>
      </div>
      <div id="captain-info">
        <% if @team.captain_id == current_user.id %>
            You are
        <% else %>
            <%= link_to @team.captain.name, user_path, id: @team.captain.id %> is
        <% end %> the leader of this team
      </div>
    </div>
    <div id="team-links" class="std-btn-links">
      <% if current_user.id == @team.captain_id %>
          <%= link_to 'Add Member', "#{@team.id}/add", class: "std-btn-link" %>
      <% end %>
    </div>
    <div id="team-party-info">
      <strong><%= @team.users.count %></strong> member(s)
    </div>
    <div id="team-party">
      <% @team.users.each do |member| %>
          <div class="team-member">
            <%= link_to(member, class: "member-small-image") do %><% end %>
            <div class="team-member-info">
              <%= link_to(member, class: "member-name std-link") do %>
                <% if member.id == current_user.id %>
                    You
                <% else %>
                    <%= member.name %>
                <% end %>
                <% if member.id == @team.captain_id %>
                    <em> (leader)</em>
                <% end %>
              <% end %>
              <div><strong><%= member.activities.count %></strong> activities</div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>