<% activities.each do |activity| %>
    <% attributes = ActiveSupport::JSON.decode(activity.acattributes) %>
    <% adate = activity.date %>
    <h2>
      <%= activity.actype %>
      at <%= link_to activity.place.name, activity.place, class: "std-link" %>
    </h2>

    <h4>
      <% if (adate - Time.now).to_i/86400 > 7 || (adate - Time.now) < 0 %>
          <%= adate.day %> of <%= adate.strftime("%B") %> <%= adate.year %> by <%= adate.hour.to_s.rjust(2, '0') %>:<%= adate.min.to_s.rjust(2, '0') %>
      <% else %>
          This <%= adate.strftime("%A") %> by <%= adate.hour.to_s.rjust(2, '0') %>:<%= adate.min.to_s.rjust(2, '0') %>
      <% end %>
    </h4>

    <p>
      <strong>Duration:</strong>
      <% if activity.duration.nil? %>
          Currently unknown
      <% else %>
          <%= seconds_to_time(activity.duration) %>
      <% end %>
    </p>

    <% if activity.Swimming? %>
        <p>
          <strong>Pools:</strong>
          <% if attributes['pools'].nil? || attributes['pools'] == 0 || attributes['pools'] == '' %>
              Not even one...
          <% else %>
              <%= attributes['pools'] %>
          <% end %>
        </p>
    <% elsif activity.Running? || activity.Cycling? %>
        <p>
          <strong>Speed:</strong>
          <%= attributes['speed'] %> Km/h
        </p>
        <p>
          <strong>Distance:</strong>
          <%= attributes['distance'] %> meters
        </p>
    <% elsif activity.Gymn? %>
        <p>
          <strong>Sets:</strong>
          <%= attributes['sets'] %>
        </p>
    <% end %>
<% end %>