<div id="dash-b1">
  <div>
    <div id="dash-calendar-box" class="calendar" data-user-id="<%= current_user.id %>"></div>
  </div
  ><div>
    <div id="own-teams-container" class="stripped-list">
      <h2>Your Teams</h2>
      <ul>
        <% if @teams.count == 0 %>
          <li class="empty-list">
            <h5>
              You have no teams
            </h5>
            <%= link_to 'Create a Team', new_team_path, remote:true, class: "std-btn-link" %>
          </li>
        <% else %>
          <% @teams.each do |team| %>
                <li class="team-box">
                  <%= link_to(team, class: "team-small-image") do %><% end %>
                  <div class="team-small-info">
                    <%= link_to(team, class: "team-name std-link") do %>
                        <%= team.name %>
                    <% end %>
                    <div><strong><%= team.users.count %></strong> members</div>
                    <div class="team-small-links std-links">
                      <%= link_to 'Disband this team', team, method: :delete, data: {confirm: 'Are you sure?'}, class: "" %>
                    </div>
                  </div>
                </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div id="dash-b2">
  <div id="dash-friends-container" class="stripped-list">
    <h2>Your Friends</h2>
    <h5>What have they been up to?</h5>
    <div class="list">
      <% friends = get_friends(current_user) %>
      <% if friends.count > 0 %>
          <% friends.each do |friend| %>
            <%= link_to(activities_path(:user_id => friend.id), remote: true, class: 'friend-box') do %>
                <div class="friend-small-image"></div>
                <div class="friend-small-info">
                  <div class="friend-name"><%= friend.name %></div>
                  <div><strong><%= friend.activities.count %></strong> activities</div>
                </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div
  ><div id="dash-friend-act-display">
    <%= render partial: 'activities_list', locals: { activities: @activities} %>
  </div>
</div>