<div class="box-wrap">
  <div class="fields-box">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div>
          <%= f.label :name, class: "std-label" %>
          <br>
          <%= f.text_field :name, class: "std-field" %>
        </div>
        <div>
          <%= f.label :age, class: "std-label" %>
          <br>
          <%= f.number_field :age %>
        </div>
        <div>
          <%= f.label :gender, {class: "std-label", style: "margin-top: 10px"} %>
          <br>
          <%= f.radio_button :sex, "Female", checked: @user.sex? %><%= f.label :sex, "Female", class: 'sex std-label' %>
          <%= f.radio_button :sex, "X", checked: @user.sex?, class: 'sex' %> <%= f.label :sex, "X", class: 'sex std-label' %>
          <%= f.radio_button :sex, "Male", checked: @user.sex?, class: 'sex' %> <%= f.label :sex, "Male", class: 'sex std-label' %>
        </div>

        <div><%= f.label :email, {class: "std-label", style: "margin-top: 10px"} %>
          <br/>
          <%= f.email_field :email, class: "std-field" %></div>

        <div><%= f.label :password, class: "std-label" %>
          <% if @validatable %>
              <i>(<%= @minimum_password_length %> characters minimum)</i>
          <% end %>
          <br/>
          <%= f.password_field :password, autocomplete: "off", class: "std-field" %></div>

        <div><%= f.label :password_confirmation, class: "std-label" %>
          <br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "std-field" %></div>

        <div id="btn-zone"><%= f.submit "Sign up", class: "std-btn" %></div>
    <% end %>

    <div class="std-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
