<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name, class: "std-label" %><br>
      <%= f.text_field :name, class: "std-field" %>
    </div>
    <div class="field">
      <%= f.label :age, class: "std-label" %><br>
      <%= f.number_field :age, class: "std-field" %>
    </div>
    <div class="field">
      <%= f.label :gender, class: "std-label" %><br>
      <%= f.radio_button  :sex,"Female", checked: @user.sex? %><%= f.label :sex, "Female", class: 'sex' %>
      <%= f.radio_button  :sex,"X", checked: @user.sex?, class: 'sex'%> <%= f.label :sex, "X", class: 'sex' %>
      <%= f.radio_button  :sex,"Male", checked: @user.sex?, class: 'sex' %> <%= f.label :sex, "Male", class: 'sex' %>
    </div>
    <div class="actions">
      <%= f.submit class: "std-btn" %>
    </div>
<% end %>
