<%= form_tag({:controller => 'users', :action => 'search'}, :method => 'get') do %>
    <%= text_field_tag :search, params[:search], :id => 'search_field', class: 'std-field' %>
    <%= submit_tag "Search", :name => nil, class: 'std-btn' %>
<% end %>