<div id="upper-row">
  <div id="image-col">
    <div id="user-profile-image"></div>
  </div>
  <div id="info-col">
    <div>
      <div id="name" class="user-info-p"><%= @user.name %><a class="icon-pencil" id="edit-profile-pencil" href="<%= edit_user_path %>" title="Edit Information"  style="vertical-align:middle"></a> </div>
      <div id="email"><strong>Email: </strong><%= @user.email %></div>
      <div id="age" >
        <strong>Age: </strong>
        <% if @user.age.nil? %>
            Not shown
        <% else %>
            <%= @user.age %>
        <% end %>
      </div>
      <div id="sex" class="user-info-line"><strong>Gender: </strong>
        <% if @user.sex.nil? %>
            Not shown
        <% else %>
            <%= @user.sex %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="lower-row">
  <div id="calendar-box" class="calendar" data-user-id="<%= current_user.id %>"></div>
  <div id="user-lists-box">
    <div class="tabs">
      <ul class="tab-links">
        <li class="<%= "active" if flash[:tab].nil? or flash[:tab]=="Activities"  %>"><a href="#tab1">Activities</a></li>
        <li class="<%= "active" if flash[:tab]=="Teams"  %>"><a href="#tab2">Teams</a></li>
        <li class="<%= "active" if flash[:tab]=="Friends"  %>"><a href="#tab3">Friends</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab1" class="tab <%= "active" if flash[:tab].nil? or flash[:tab]=="Activities"  %>">
          <div id="select-wrapper">
            <select id="activity-type-select" name="activity type">
              <option value="all">All</option>
              <option value="swimming">Swimming</option>
              <option value="running">Running</option>
              <option value="gym">Gym</option>
              <option value="cycling">Cycling</option>
            </select>
          </div>
          <% if @user.activities.count == 0 %>
              <div class="tab-header">You don't seem to work out much...</div>
          <% else %>
              <% @user.activities.each do |activity| %>
                  <div class="activity-box">
                    <%= link_to(activity, class: "activity-small-image") do %><% end %>
                    <div class="activity-small-info">
                      <div>
                        <%= activity.date %>
                      </div>
                      <div><%= activity.actype %></div>
                      <div><%= activity.place.name %></div>
                      <div class="activity-small-links std-links">
                        <a class="icon-pencil" id="edit-ownActivity-image" data-remote="true" href="<%=  edit_activity_path(activity) %>" title="Edit Activity"  style="vertical-align:middle"></a>
                        <a class="icon-scratch" id="remove-ownActivity-scratch" data-confirm="Are you sure?" data-method="delete" rel="nofollow" href="<%= activity_path(activity) %>" title="Remove Activity"  style="vertical-align:middle"></a>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>

        <div id="tab2" class="tab <%= "active" if flash[:tab]=="Teams" %>">
          <% if @user.teams.count == 0 %>
              <div class="tab-header">You don't have a team</div>
          <% else %>
              <div class="tab-header"><%= @user.teams.count %> team(s)</div>
              <% @user.teams.each do |team| %>
                  <div class="team-box">
                    <%= link_to(team, class: "team-small-image") do %><% end %>
                    <div class="team-small-info">
                      <%= link_to(team, class: "team-name std-link") do %>
                          <%= team.name %>
                      <% end %>
                      <% if team.captain_id == current_user.id %>
                          <div>You are the leader</div>
                      <% else %>
                          <div><%= link_to team.captain.name, action: 'show', id: team.captain_id %> is the leader</div>
                      <% end %>
                      <div><strong><%= team.users.count %></strong> members</div>
                      <div class="team-small-links std-links"></div>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>

         <div id="tab3" class="tab <%= "active" if flash[:tab]=="Friends" %>">
           <% friendships = get_friendships(current_user) %>
          <% if friendships.count == 0 %>
              <div class="tab-header">You have no friends</div>
          <% else %>
              <div class="tab-header"><%= friendships.count %> friend(s)</div>
              <% friendships.each do |friendship| %>
                  <% friend = User.find(friendship.friend_id) %>
                  <% if friend.id == current_user.id %>
                      <% friend = User.find(friendship.user_id) %>
                  <% end %>
                  <div class="friend-box">
                    <%= link_to(friend, class: "friend-small-image") do %><% end %>
                    <div class="friend-small-info">
                      <%= link_to(friend, class: "friend-name std-link") do %>
                          <%= friend.name %>
                      <% end %>
                      <div><strong><%= friend.activities.count %></strong> activities</div>
                      <div class="friend-small-links std-links">
                        <a class="icon-scratch" id="remove-ownFriend-scratch" data-confirm="Are you sure?" data-method="delete" rel="nofollow" href="<%= friendship_path(friendship) %>" title="Remove Friend"  style="vertical-align:middle"></a>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
          <div class="friends-divisory"></div>
          <% if @user.inverse_friendships.merge(Friendship.pending).count == 0 %>
              <div class="tab-header">You have no pending invitations</div>
          <% else %>
              <div class="tab-header"><%= @user.inverse_friendships.merge(Friendship.pending).count %> pending invitations</div>
              <% @user.inverse_friendships.merge(Friendship.pending).each do |friendship| %>
                  <% friend = User.find(friendship.user_id) %>
                  <div class="friend-box">
                    <%= link_to(friend, class: "friend-small-image") do %><% end %>
                    <div class="friend-small-info">
                      <%= link_to(friend, class: "friend-name std-link") do %>
                          <%= friend.name %>
                      <% end %>
                      <div><strong><%= friend.activities.count %></strong> activities</div>
                      <div class="friend-small-links std-links">
                        <div><%= link_to 'Accept', friendship, method: :put, data: {confirm: 'Are you sure?'} %></div>
                        <div><%= link_to 'Decline', friendship, method: :delete, data: {confirm: 'Are you sure?'} %></div>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
          <div class="friends-divisory"></div>
          <% if @user.friendships.merge(Friendship.pending).count == 0 %>
              <div class="tab-header">You have not sent any invitations</div>
          <% else %>
              <div class="tab-header"><%= @user.friendships.merge(Friendship.pending).count %> sent invitations</div>
              <% @user.friendships.merge(Friendship.pending).each do |friendship| %>
                  <% friend = User.find(friendship.friend_id) %>
                  <div class="friend-box">
                    <%= link_to(friend, class: "friend-small-image") do %><% end %>
                    <div class="friend-small-info">
                      <%= link_to(friend, class: "friend-name std-link") do %>
                        <%= friend.name %>
                      <% end %>
                      <div><strong><%= friend.activities.count %></strong> activities</div>
                      <div class="friend-small-links std-links">
                        <a class="icon-scratch" id="remove-ownFriendPend-scratch" data-confirm="Are you sure?" data-method="delete" rel="nofollow" href="<%= friendship_path(friendship) %>" title="Remove Friend Request"  style="vertical-align:middle"></a>
                            </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="calendar"></div>