<div id="upper-row">
  <div id="image-col">
    <div id="user-profile-image"></div>
  </div>
  <div id="info-col">
    <div>
      <div id="name" class="user-info-p"><%= @user.name %></div>
      <div id="email"><strong>Email: </strong><%= @user.email %></div>
      <div id="age">
        <strong>Age: </strong>
        <% if @user.age.nil? %>
            Not shown
        <% else %>
            <%= @user.age %>
        <% end %>
      </div>
      <div id="sex"><strong>Gender: </strong>
        <% if @user.sex.nil? %>
            Not shown
        <% else %>
            <%= @user.sex %>
        <% end %>
      </div>
      <% friends_accepted = current_user.friends.merge(Friendship.accepted) + current_user.inverse_friends.merge(Friendship.accepted)%>
      <% friends_pending = current_user.friends.merge(Friendship.pending) + current_user.inverse_friends.merge(Friendship.pending)%>
      <% if !friends_accepted.include?(@user) && !friends_pending.include?(@user) %>
          <%= form_for(Friendship.new) do |f| %>
              <%= f.hidden_field :friend_id, value: @user.id %>
              <%= f.submit "Send friend request", class: 'std-btn' %>
          <% end %>
      <% elsif friends_pending.include?(@user) %>
              You already asked this person to be your friend... be patient!
      <% else %>
            You are friends with <%= @user.name %>
      <% end %>
    </div>
  </div>
</div>
<div id="lower-row">
  <div id="calendar-box" class="calendar" data-user-id="<%= current_user.id %>"></div>
  <div id="user-lists-box">
    <div class="tabs">
      <ul class="tab-links">
        <li class="active"><a href="#tab1">Activities</a></li>
        <li><a href="#tab2">Teams</a></li>
        <li><a href="#tab3">Friends</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab1" class="tab active">
          <div id="select-wrapper">
            <select id="activity-type-select" name="activity type">
              <option value="all">All</option>
              <option value="swimming">Swimming</option>
              <option value="running">Running</option>
              <option value="gym">Gym</option>
              <option value="cycling">Cycling</option>
            </select>
          </div>
          <% if @user.activities.count == 0 %>
              <div class="tab-header"><%= @user.name %> doesn't work out much...</div>
          <% else %>
              <% @user.activities.each do |activity| %>
                  <div class="activity-box">
                    <%= link_to(activity, class: "activity-small-image") do %><% end %>
                    <div class="activity-small-info">
                      <div><%= activity.date %></div>
                      <div><%= activity.actype %></div>
                      <div><%= activity.place.name %></div>
                      <div class="activity-small-links std-links">
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
        <div id="tab2" class="tab">
          <% if @user.teams.count == 0 %>
              <div class="tab-header"><%= @user.name %> doesn't belong to any team</div>
          <% else %>
              <div class="tab-header"><%= @user.teams.count %> team(s)</div>
              <% @user.teams.each do |team| %>
                  <div class="team-box">
                    <%= link_to(team, class: "team-small-image") do %><% end %>
                    <div class="team-small-info">
                      <%= link_to(team, class: "team-name std-link") do %>
                          <%= team.name %>
                      <% end %>
                      <% if team.captain_id == current_user.id %>
                          <div>You are the leader</div>
                      <% else %>
                          <div><%= link_to team.captain.name, action: 'show', id: team.captain_id %> is the leader</div>
                      <% end %>
                      <div><strong><%= team.users.count %></strong> members</div>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
        <div id="tab3" class="tab">
          <% friends = get_friends(@user) %>
          <% if friends.count == 0 %>
              <div class="tab-header"><%= @user.name %> seems quite the lonely one</div>
          <% else %>
                  <div class="tab-header"><%= friends.count %> friend(s)</div>
              <% friends.each do |friend| %>
                  <div class="friend-box">
                    <%= link_to(friend, class: "friend-small-image") do %><% end %>
                    <div class="friend-small-info">
                      <%= link_to(friend, class: "friend-name std-link") do %>
                          <%= friend.name %>
                      <% end %>
                      <div><strong><%= friend.activities.count %></strong> activities</div>
                      <div class="friend-small-links std-links">
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>