<div id="search">
  <%= render :partial => 'users/search_form' %>
</div>
<div class="item-box">
  <% if @users.nil? %>

  <% else %>
      <div style="margin-bottom: 20px">
        <% if @users.count == 1%>1 match
        <% else %>
        <%= @users.count %> matches
        <% end %></div>
      <ul>
        <% @users.each do |user| %>
            <li class="friend-box">
              <%= link_to(user, class: "friend-small-image") %>
              <div class="friend-small-info">
                <%= link_to(user, class: "friend-name std-link") do %>
                    <%= user.name %>
                <% end %>
                <div><strong><%= user.activities.count %></strong> activities</div>
                <div class="friend-small-links std-links">
                </div>
              </div>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>

