<div class="box-wrap">
  <div class="fields-box">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    <div>
          <div><%= f.label :email, class: "std-label" %><br />
          <%= f.email_field :email, autofocus: true, class: "std-field", id: "test" %></div>

          <div id="btn-zone"><%= f.submit "Send me reset password instructions", class: "std-btn" %></div>
        <% end %>
    </div>
    <div class="std-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
