<div id="login-box-container">
  <div id="login-box">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div><%= f.label :email, class: 'std-label' %><br />
          <%= f.email_field :email, autofocus: true, class: 'std-field' %></div>

        <div><%= f.label :password, class: 'std-label' %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'std-field' %></div>

        <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me, class: 'std-label' %></div>
        <% end -%>
        <div id="btn-zone"><%= f.submit "Log in", class: 'std-btn' %></div>
    <% end %>
    <div class="std-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

