// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/

#upper-btn-wrap-wrap
  text-align: center
  margin-bottom: 20px

#btn-wrap
  .std-btn
    display: inline-block
    margin: 0 5px

.link-btn
  text-decoration: none
  color: #ffffff

.link-btn:hover
  color: white
  text-decoration: none

.browse-button
  display: inline-block
  margin-bottom: 10px
  text-decoration: none

#map-container
  padding: 0
  height: 400px
  overflow: hidden
  border-color: #d2d2d2

#activity-map
  height: 100%

#edit-activity-own-pencil
  background-image: image-url('edit.png')
  background-position: center
  background-size: 100%
  display: inline-block
  height: 18px
  width: 18px
