/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "variables"

//Class utilities
.vcenter
  vertical-align: middle
  display: inline-block
  float: none

// calendar style override

.fc-event
  background-color: $primary-color
  border-color: $primary-color

  &:focus
    color: #ffffff
    background-color: $primary-color-light

// Standard styles across the application

.std-field
  min-width: 250px
  height: 35px
  padding: 5px 8px
  margin-bottom: 6px

.std-links

  a
    color: $primary-color
    font-weight: 500
  a:hover
    background-color: transparent
    color: $primary-color-light


.std-label
  color: $std-text-grey
  font-weight: 100
  font-size: 16px
  margin-bottom: 1px
  line-height: 17px

.std-btn, .std-btn-link
  border-radius: 6px
  padding: 0 10px
  font-size: 11pt
  line-height: 30px
  min-width: 110px
  color: white
  background-color: #999
  border-style: none
  text-align: center

.std-btn:hover
  cursor: pointer
  background-color: $primary-color

.std-link
  color: $primary-color
  font-weight: 500

.std-link:hover
  background: none
  color: $primary-color-light

.std-btn-link
  display: inline-block

.std-btn-link:hover
  text-decoration: none
  color: #ffffff
  background-color: $primary-color

.std-btn-link:focus, .std-btn:focus
  background-color: $primary-color
  color: white

.box-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: $navbar-z-index - 1
  background-color: #333
  opacity: 0.8

.popbox
  position: fixed
  z-index: $navbar-z-index
  border-radius: 10px
  background-color: white
  border: 1px solid #222
  padding: 20px
  width: 450px
  margin: 20px 0 0 -200px
  left: 50%
  overflow-y: auto

#popbox-container
  z-index: $navbar-z-index - 1
  position: relative
  display: none

//Document CSS

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

a
  display: inline-block
  outline: 0

a:hover
  text-decoration: none

a:active
  text-decoration: none
  outline: 0

a:focus
  text-decoration: none

.item-box
  margin-top: 30px

body
  width: 100%
  font: $font-stack
  color: $default-darkcolor

#main-container
  margin-top: $navbar-height
  position: relative
  min-height: 100vh

#alert-box
  height: 40px
  text-align: center
  width: 100%

.notice, .alert
  padding: 5px 20px
  font-size: 16px
  background-color: grey
  color: #ffffff

#brand
  display: inline-block
  height: $navbar-height
  line-height: $navbar-height
  font-size: 22px
  padding: 0 30px

#navbar
  top: 0
  left: 0
  right: 0
  position: fixed
  z-index: $navbar-z-index
  height: $navbar-height
  background-color: $primary-color
  opacity: 0.95
  color: white
  .nav-link
    line-height: $navbar-height
    color: white
    display: inline-block
    outline: 0
    padding: 0 20px
  a:hover
    color: white
    text-decoration: none
  a:active
    text-decoration: none
    outline: 0
  a:focus
    background-color: $primary-color-light
  > ul
    vertical-align: top
    display: inline-block
    padding: 0
    margin: 0
    > li
      position: relative
      vertical-align: top
      display: inline-block

.subnav
  text-align: center
  padding: 10px 0
  list-style: none
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
  border-right: 1px solid #ccc
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  border-left: 5px solid $primary-color
  margin: 0
  display: none
  position: absolute
  left: 0
  z-index: $navbar-z-index
  top: $navbar-height
  background-color: white

.subnav-link
  color: $default-darkcolor
  width: 100%
  padding: 5px 0

.subnav-link:focus
  outline: none
  color: white

#create-subnav
  width: 250px

.nav-link, .subnav-link
  font-size: 15px

.nav-link:hover
  background-color: $primary-color-light

.subnav-link:hover
  background-color: $primary-color


#welcoming-nav-message
  font-size: 15px
  color: white

#who-is-logged
  font-size: 15px
  line-height: $navbar-height
  padding: 0 15px

#username
  font-weight: 600
  text-transform: capitalize

.navcentertext
  line-height: $navbar-height

#mid-main-area
  max-width: 1200px
  width: 90%
  position: relative
  margin: 0 auto
  overflow: auto
  padding-bottom: 200px

#page-footer
  border-top: 2px solid $primary-color
  text-align: center
  padding: 30px
  background-color: #DDD
  color: #777
  #footer-group
    color: #444
    font-size: 20px
  #footer-names
    font-size: 17px
  #footer-rights
    font-size: 15px

//for login page

#login-box-container
  text-align: center

.login-bg
  background-image: url("login_bg.jpg")
  background-position: center
  background-size: cover

@media (max-width: 800px)

body
  min-width: 800px

#navbar
  min-width: 800px