// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables"

li
  list-style: none

#dash-calendar-box
  width: 100%

#dash-b1, #dash-b2
  width: 100%
  &>div:nth-child(1), &>div:nth-child(2)
    padding: 0 20px
    display: inline-block
    vertical-align: top

#dash-b1
  $left-width: 60%

  &>div:nth-child(1)
    width: $left-width
  &>div:nth-child(2)
    padding-top: 0
    width: 100% - $left-width
    height: 100%

#dash-b2
  margin-top: 30px
  $left-width: 50%

  &>div:nth-child(1)
    width: $left-width
  &>div:nth-child(2)
    padding-top: 0
    width: 100% - $left-width
    height: 100%

#own-teams-container
  text-align: center
  width: 100%
  .team-small-links
    text-align: left
    width: 100%
  h2
    margin: 0 0 14px 0
  ul
    padding: 0 20px
    margin: 0
    overflow-y: auto
    max-height: 450px
  .team-small-info
    text-align: left
    float: left
    padding-top: 10px
    padding-left: 20px
  .empty-list
    margin-top: 50%
    width: 100%
    border: 1px solid $primary-color
    border-radius: 10px
    background-color: white
    text-align: center
    padding: 10px 0
    h5
      margin-top: 0

.stripped-list
  .friend-box
    border-radius: 60px
    &:nth-child(odd)
      background-color: #f9f9f9

#dash-friends-container
  .selected
    border-color: $primary-color !important
  h2
    margin-bottom: 0
  h5
    color: $std-text-grey
    margin-top: 0
  .list
    margin: 0
    padding: 0
    max-height: 466px
    overflow-y: auto
    .friend-box
      border: 2px solid white
      padding: 3px
      color: $primary-color
      &:hover
        border-color: $primary-color-light
        cursor: pointer
      &:focus
        border-color: $primary-color-light
        outline: none

    .friend-small-info
      padding-top: 20px