// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/

#place-info-container
  text-align: center

#place-img
  display: inline-block
  width: 300px
  height: 300px
  background-image: url("park.jpg")
  background-position: center
  background-size: cover
  border-radius: 50%

#place-description
  color: #636363

.activity-small-image
  background-image: url("park.jpg")
  background-position: center
  background-size: cover