// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import variables

// Team list in user profile

#team-image-wrapper
  width: 100%
  text-align: center

#team-image
  display: inline-block
  background-image: url("default_team.png")
  background-size: cover
  background-position: center
  height: 200px
  width: 200px
  border-radius: 50%

.team-small-image
  background-image: url("default_team.png")

#team-info
  text-align: center
  padding-top: 20px

#captain-info
  font-size: 20px
  color: $std-text-grey

#team-title
  font-size: 30px

#team-links
  max-width: 500px
  padding-bottom: 10px
  margin: 10px auto
  border-bottom: 5px solid $primary-color
  text-align: center

#team-party-info
  text-align: center

.member-name
  position: relative
  display: inline-block

.add-member-box
  margin: 10px 0

.add-member-name
  width: 50%
  line-height: 35px
  font-size: 20px
  float: left

.team-add-member-btn
  float: right

// team list in /teams

#teams-table
  width: 100%

.team-table-img
  padding: 10px
  width: 140px

// team members in /teams/:id

#team-party
  text-align: center

.team-member
  width: 90px
  margin: 10px auto
  position: relative
  .member-small-image
    float: none

.team-member-info
  min-width: 400px
  text-align: left
  position: absolute
  left: 110px
  top: 20px

#edit-team-pencil
  background-image: image-url('edit.png')
  background-position: center
  transform: rotateY(180deg)
  background-size: 100%
  display: inline-block
  height: 18px
  width: 18px