// Place all the styles related to the users controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables"

#search
  text-align: center

  #search_field
    width: 50%

.badge
  float: right

// User profile

#user-profile-image
  height: 200px
  width: 200px
  margin-left: auto
  margin-right: auto
  background-image: image-url('userimg_sloth.jpg')
  background-position: center
  background-size: cover
  border-radius: 50%

.icon-pencil
  background-image: image-url('edit.png')
  background-position: center
  background-size: 100%
  display: inline-block
  margin-left: 10px
  height: 18px
  width: 18px
  opacity: 0.50
  filter: alpha(opacity=50)
  transform: rotateY(180deg)

  &:hover
    opacity: 0.85
    filter: alpha(opacity=85)

.icon-scratch
  background-image: image-url('scratch.png')
  background-position: center
  background-size: 150%
  display: inline-block
  paddind-left: 50px
  height: 22px
  width: 22px
  opacity: 0.4
  filter: alpha(opacity=40)
  transform: rotateY(180deg)

.icon-scratch:hover
  opacity: 0.70
  filter: alpha(opacity=70)


#image-col, #calendar-box
  width: 38%
  display: inline-block

#calendar-box
  display: inline-block
  text-align: center
  padding-top: 40px

#info-col, #user-lists-box
  float: right
  width: 60%
  display: inline-block

#image-col
  text-align: center
  display: inline-block

#info-col
  display: inline-block
  padding-left: 40px

  .std-btn
    margin-top: 20px

#user-lists-box
  display: inline-block
  margin-top: 20px

#name
  color: #222222
  font-size: 30px

.user-info-line
  margin-left: 33px

.item-box
  text-align: left

  @media screen and (max-width: $break-small)
    text-align: center

// User login

#login-box
  text-align: left
  background-color: rgba(245, 245, 245, 0.6)
  border-radius: 10px
  display: inline-block

  h2
    margin: 0
    background-color: $primary-color
    color: white
    border-top-left-radius: 10px
    border-top-right-radius: 10px

  > *
    padding: 20px 40px

  .std-links
    background-color: #ffffff
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px

#test
  width: 100%

#btn-zone
  margin-top: 30px
  margin-bottom: 10px

/*----- Tabs -----*/
.tabs
  width: 100%
  display: inline-block

/*----- Tab Links -----*/
/* Clearfix */

.tab-links
  margin: 0
  border-bottom: 5px solid $primary-color

  a:focus
    color: white

.tab-links:after
  display: block
  clear: both
  content: ''

.tab-links li
  text-align: center
  width: 30%
  margin: 0 5px
  float: left
  list-style: none

.tab-links a
  width: 100%
  line-height: 30px
  display: inline-block
  border-radius: 3px 3px 0 0
  background: #999
  font-size: 16px
  font-weight: 600
  color: white
  transition: all linear 0.15s

.tab-links a:hover
  background: $primary-color
  color: white
  text-decoration: none

li.active a, li.active a:hover
  background: $primary-color
  color: white

/*----- Content of Tabs -----*/
.tab-content
  padding: 15px
  border-radius: 3px

.tab
  display: none

.tab.active
  display: block

// Activities, Teams, Friends
.tab-header
  color: $std-text-grey

#select-wrapper, .tab-header
  height: 30px
  margin: 15px 0
  text-align: center

.activity-box, .team-box, .friend-box, .member-box
  padding: 5px 10px
  width: 90%
  height: 100px
  margin: 10px auto

.activity-small-image, .team-small-image, .friend-small-image, .member-small-image
  height: 90px
  width: 90px
  float: left
  background-color: grey
  background-position: center
  background-size: cover
  border-radius: 50%

.friend-small-image, .member-small-image
  background-image: image-url('userimg_sloth.jpg')

.activity-small-info, .team-small-info, .friend-small-info, .member-small-info
  position: relative
  display: inline-block
  height: 100%
  padding-left: 20px

.activity-small-links, .team-small-links, .friend-small-links, .member-small-links
  min-width: 180px
  position: absolute
  bottom: 0
  div
    display: inline-block

.team-name, .friend-name, .member-name
  font-size: 20px

.team-add-member-btn
  display: inline-block

.friends-divisory
  border-top: 5px solid $primary-color