<%= form_for @activity, remote: true do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
   <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration, class: "std-field" %>
  </div>

    <% if params[:action] == 'new' %>
        <div class="field">
          <%= f.label :place %><br>
          <%= f.text_field :place, class: "std-field" %>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "std-field" %>
    </div>

    <div class="field">
      <%= f.label 'Activity type' %><br>
      <%= f.select :actype, options_for_select(["Swimming", "Running", "Cycling", "Gymn"]) %>
    </div>

    <div class="swimming-fields fields">
      <%= f.label :pools %><br>
      <input id="activity_pools" type="text" name="pools" class="std-field"/>
    </div>

    <div class="cycling-fields running-fields">
      <div class="fields">
          <%= f.label :speed %><br>
        <input id="activity_speed" type="text" name="speed" class="std-field"/>
      </div>
      <div class="fields">
          <%= f.label :distance %><br>
        <input id="activity_distance" type="text" name="distance" class="std-field"/>
      </div>
    </div>

    <div class="gymn-fields fields">
      <%= f.label :sets %><br>
      <input id="activity_sets" type="text" name="sets" class="std-field"/>
    </div>

    <input id="activity-gpx-data" name="gpx_data" type="hidden" value="{}">

  <div class="actions">
    <%= f.submit "Create", class: "std-btn" %>
  </div>
<% end %>

<div class="cycling-fields running-fields">
  <div class="file-browse">
    <input class="browse-button" id="gpx-file" type="file"/>
  </div>
</div>
