<div class="item-box col-md-12">
  <div class="col-md-12">
    <h3>Activities</h3>
  </div>
  <div class="col-md-12 table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Duration</th>
        <th>Place</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @activities.each do |activity| %>
          <tr>
            <td><%= activity.date %></td>
            <td><%= activity.duration %> minutes</td>
            <td><%= activity.place.name %></td>
            <td><%= link_to 'Show', activity %></td>
            <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
            <td><%= link_to 'Remove', activity, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= link_to 'Create a new Activity', new_activity_path, class: 'std-btn-link' %>
</div>

