<!-- ALL ACTIVITIES FREQ -->

<div class="item-box col-md-12">
  <div id="upper-btn-wrap-wrap" class="col-md-12">
    <div id="btn-wrap">
        <div class="std-btn">Frequency</div>
        <div class="std-btn">Duration</div>
    </div>
  </div>
  <div class="col-md-12">
    <h3>All Activities Leaderboard by Freq</h3>
  </div>
  <div class="col-md-12 table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Username</th>
        <th>Frequency</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @lglobalByFreq.each do |pair| %>
      <% @user = User.find(pair.first)%>
          <tr>
            <td><%= @user.name.capitalize %></td>
            <td><%= pair.second %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>
</div>

<!-- SWIM FREQ -->

<div class="item-box col-md-12">
  <div class="col-md-12">
    <h3>Swimming Leaderboard by Freq</h3>
  </div>
  <div class="col-md-12 table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Username</th>
        <th>Frequency</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @lswimByFreq.each do |pair| %>
          <% @user = User.find(pair.first)%>
          <tr>
            <td><%= @user.name.capitalize %></td>
            <td><%= pair.second %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>
</div>

<!-- RUN FREQ -->

<div class="item-box col-md-12">
  <div class="col-md-12">
    <h3>Running Leaderboard by Freq</h3>
  </div>
  <div class="col-md-12 table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Username</th>
        <th>Frequency</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @lrunByFreq.each do |pair| %>
          <% @user = User.find(pair.first)%>
          <tr>
            <td><%= @user.name.capitalize %></td>
            <td><%= pair.second %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>
</div>

<!-- CYCLE FREQ -->

<div class="item-box col-md-12">
  <div class="col-md-12">
    <h3>Cycling Leaderboard by Freq</h3>
  </div>
  <div class="col-md-12 table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Username</th>
        <th>Frequency</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @lcycleByFreq.each do |pair| %>
          <% @user = User.find(pair.first)%>
          <tr>
            <td><%= @user.name.capitalize %></td>
            <td><%= pair.second %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>
</div>

<!-- GYM FREQ -->

<div class="item-box col-md-12">
  <div class="col-md-12">
    <h3>Gymn Leaderboard by Freq</h3>
  </div>
  <div class="col-md-12 table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Username</th>
        <th>Frequency</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @lgymByFreq.each do |pair| %>
          <% @user = User.find(pair.first)%>
          <tr>
            <td><%= @user.name.capitalize %></td>
            <td><%= pair.second %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>
</div>