var box = $("#popbox-container");

box.html("<%= escape_javascript(render 'new') %>").append("<div class='box-backdrop'></div>");
box.fadeIn();
popBoxJS(); //so it detects newly created elements
activitySelectJS();
$('#gpx-file').change(validateGPX);
