<p id="notice"><%= notice %></p>
<% adate = @activity.date %>
<h2>
  <%= @activity.actype %>
  at <%= link_to @place.name, @place, class: "std-link" %>
</h2>

<h4>
  <% if (adate - Time.now).to_i/86400 > 7 || (adate - Time.now) < 0 %>
    <%= adate.day %> of <%= adate.strftime("%B") %> <%= adate.year %> by <%= adate.hour.to_s.rjust(2, '0') %>:<%= adate.min.to_s.rjust(2, '0') %>
  <% else %>
    This <%= adate.strftime("%A") %> by <%= adate.hour.to_s.rjust(2, '0') %>:<%= adate.min.to_s.rjust(2, '0') %>
  <% end %>
</h4>

<p>
  <strong>Duration:</strong>
  <% if @activity.duration.nil? %>
    Currently unknown
  <% else %>
    <%= seconds_to_time(@activity.duration) %>
  <% end %>
</p>

<% if @activity.Swimming? %>
    <p>
      <strong>Pools:</strong>
      <% if @acattributes['pools'].nil? || @acattributes['pools'] == 0 || @acattributes['pools'] == '' %>
          Not even one...
      <% else %>
          <%= @acattributes['pools'] %>
      <% end %>
    </p>
<% elsif @activity.Running? || @activity.Cycling? %>
    <p>
      <strong>Speed:</strong>
      <%= @acattributes['speed'] %> Km/h
    </p>
    <p>
      <strong>Distance:</strong>
      <%= @acattributes['distance'] %> meters
    </p>
<% elsif @activity.Gymn? %>
    <p>
      <strong>Sets:</strong>
      <%= @acattributes['sets'] %>
    </p>
<% end %>

<% if @activity.user_id %>
    <%= link_to 'Edit', edit_activity_path(@activity), remote: true %>
<% end %>
<% if @activity.Running? || @activity.Cycling? %>
    <input id="activity-attrs" type="hidden" value='<%= @acattributes.to_json %>'>
    <div id="map-container" class="middle-container">
      <div id="activity-map"></div>
    </div>
<% end %>