<div id="place-info-container">
  <div id="place-img"></div>
  <h2 id="place-name">
    <%= @place.name %>
  </h2>
  <h4 id="place-description">
    <%= @place.description %>
  </h4>
  <div id="nearby-friends-container">
    <% @users.each do |user| %>
        <div class="team-member">
          <%= link_to(user, class: "member-small-image") do %><% end %>
          <div class="team-member-info">
            <%= link_to(user, class: "member-name std-link") do %>
                <%= user.name %>
            <% end %>
            <div><strong><%= user.activities.count %></strong> activities</div>
            <div class="member-small-links std-links">
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
