<!DOCTYPE html>
<html>
<head>
  <title>NoSlo - Against Slowness and Sloth</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="navbar">
  <%= link_to 'NoSlo', root_path, id: 'brand', class: "nav-link" %>
  <ul>
      <% if user_signed_in? %>
          <li id="who-is-logged"><span id="username"><%= current_user.name.capitalize %></span></li>
          <li><%= link_to 'Profile', "/users/#{current_user.id}", class: "nav-link"  %></li>
          <li id="create-nav">
            <a class="nav-link" href="#">Create&nbsp;&nbsp;▾</a>
            <ul id="create-subnav" class="subnav">
              <li><%= link_to 'Team', new_team_path, remote:true, class: "subnav-link" %></li>
              <li><%= link_to 'Activity', new_activity_path, remote:true, class: "subnav-link" %></li>
            </ul>
          </li>
          <li><%= link_to 'Leaderboards', "/activities/leaderboards", class: "nav-link"  %></li>
          <li id="search-nav">
            <a class="nav-link" href="#">Search&nbsp;&nbsp;▾</a>
            <ul id="search-subnav" class="subnav">
              <li><%= link_to 'Users', "/users/search", class: "subnav-link" %></li>
              <li><a class="subnav-link" href="#">Teams</a></li>
              <li><a class="subnav-link" href="#">Places</a></li>
            </ul>
            <!--%= link_to 'Search', "/users/search", class: "nav-link"  %-->
          </li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "nav-link" ) %></li>
      <% else %>
          <li id="welcoming-nav-message" class="navcentertext"> Welcome, please sign in or sign up</li>
      <% end -%>
  </ul>
</nav>
<div id="main-container">
  <div id="alert-box">
    <% if !notice.nil? %>
        <p class="notice"><%= notice %></p>
    <% end %>
    <% if !alert .nil? %>
        <p class="alert"><%= alert %></p>
    <% end %>
  </div>
  <div id="popbox-container"></div>
  <div id="mid-main-area">
    <%= yield %>
  </div>
</div>
<footer id="page-footer">
  <p id="footer-group">Grupo 13 - DAWeb 2014/2015</p>
  <p id="footer-names">Guilherme Fial nº42210 & Joana Páris nº41619</p>
  <p id="footer-rights">All sloths™ reserved ®</p>
</footer>
</body>
</html>
